{% extends 'courier/base.html' %}
{% load static %}

{% block head %}

<style>
    small {
        font-size: 12px;
        line-height: 1.2rem;
    }

    .card {
        border-radius: 0;
    }
</style>
{% endblock head %}

{% block content %}

<br />
<div class="d-flex flex-column h-100" style="padding-bottom: 60px">
    <div class="text-center">
        <div class="btn-group mt-1 mb-1 align-item-center" role="group">
            <a href="{% url 'courier:current_job' %}" class="btn btn-outline-info">Current Job</a>
            <a href="{% url 'courier:archived_jobs' %}" class="btn btn-info">Archived Jobs</a>
        </div>
    </div>
    
    {% if jobs %}

    {% for job in jobs %}
    <div class="card">
        <div class="card-body p-2">
            <div class="media">
                <img src="{{ job.photo.url }}" class="rounded-lg mr-3" width="50px" height="50px">
                <div class="media-body">
                    <h5 class="text-black">{{ job.name }}</h5>
                    <div class="d-flex">
                        <div class="flex-grow-1 mr-2">
                            <small class="text-success">
                                <i class="fas fa-car"></i> <span style="font-size: 14px;">{{ job.distance }} km</span> 
                                <i class="far fa-clock ml-2"></i> <span style="font-size: 14px;">{{ job.duration }} mins</span> 
                            </small>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-map-marker-alt"></i>
                                <small class="text-black ml-2" style="font-size: 13px;">{{ job.pickup_address }}</small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <i class="fas fa-flag-checkered"></i>
                                <small class="text-black ml-2" style="font-size: 13px;">{{ job.delivery_address }}</small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <small class="text-black ml-2" style="font-size: 13px;">Customer: {{ job.customer.user.get_full_name }}</small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <small class="text-black ml-2" style="font-size: 13px;">Pickup: {{ job.pickup_phone }}</small>
                            </div>

                            <div class="d-flex align-items-center mt-2">
                                <small class="text-black ml-2" style="font-size: 13px;">Delivery: {{ job.delivery_phone }}</small>
                            </div>

                        </div>
                        $<h3 class="mr-2">{{ job.price }}</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
    <hr>
    <a class="btn btn-success ml-5"  href="{% url 'courier:pdf_template' %}" style="width: 120px;">Get Jobs PDF</a>
    
    {% else %}
    <div id="main" class="text-center">
        <p>No job currently! Pick a new one.</p>
    </div>

    {% endif %}

</div>
{% include 'courier/bottom_tabs.html' %}
{% endblock content %}