{% extends 'courier/base.html' %}
{% load static %}

{% block head %}
<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2)
    }
</style>
{% endblock head %}

{% block content %}
<div class="header bg-dark">
    <a href="{% url 'courier:available_jobs' %}" class="mr-2 text-decoration-none d-flex align-items-center">
        <i class="fas fa-chevron-left text-dark"></i>
        <h4 class="text-light mb-0 ml-2">Available Jobs</h4>
    </a>
</div>

<div class="container-fluid" style="padding-top: 80px;">
    <div class="media">
        <img src="{{ job.photo.url }}" class="rounded-lg mr-3" width="100" height="100">
        <div class="media-body">
            <h4>{{ job.name }}</h4>
            <span>{{ job.get_size_display }} Size</span><br />
            <span>{{ job.quantity }} Item(s)</span><br />
            <span>${{ job.price }}</span>
        </div>
    </div>
    <hr />

    <div class="d-flex align-items-center text-secondary mb-3">
        <i class="fas fa-map-marker-alt"></i>
        <span class="ml-2">{{ job.pickup_address }}</span>
    </div>
    <div class="d-flex align-items-center text-secondary mb-3">
        <i class="fas fa-flag-checkered"></i>
        <span class="ml-2">{{ job.delivery_address }}</span>
    </div>
    <hr />

    <b class="text-secondary">CUSTOMER</b>
    <div class="media align-items-center mt-2">
        <img src="{% if job.customer.avatar %}{{ job.customer.avatar.url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt=""
         class="rounded-circle mr-3" width="60" height="60" />
        <div class="media-body">
            <h5 class="text-dark">{{ job.customer.user.get_full_name }}</h5>
            <span>{{ job.customer.phone }}</span>
        </div>
    </div>
    <hr />

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-info">Accept This Job</button>
    </form>
</div>
{% endblock content %}