{% extends 'courier/base.html' %}
{% load static %}

{% block content %}

<div class="mt-4 p-2 mb-2">
    <b class="text-black ml-3">PAYOUT</b>
    <a href="{% url 'courier:payout_method' %}" class="btn btn-info btn-md mt-2">
        Setup
    </a>
</div>

<div id="reportContent" class="mt-2 p-2 ml-3">
    <div class="media align-items-center p-3">
        <img src="{% static 'img/avatar.png' %}" class="rounded-circle" width="60" height="60" />
        <div class="media-body ml-4">
            <h4 class="mb-0 text-dark">{{ request.user.get_full_name }}</h4>
        </div>
    </div> 
    <b class="text-black ml-3">TOTAL JOBS SUMMARY</b>
    <hr />

    <div class="d-flex ml-3" style="flex-direction: row;">
        <div class="flex-grow-1">
            <h4 class="text-success">${{ total_earnings }}</h4>
            <span class="text-black"><h5>Total Earnings</h5></span>
        </div>
        <div class="flex-grow-1">
            <h4 class="text-success">{{ total_jobs }} Jobs</h4>
            <span class="text-black"><h5>Completed</h5></span>
        </div>
        <div class="flex-grow-1">
            <h4 class="text-danger">{{ total_km }} Km</h4>
            <span class="text-black"><h5>Driven</h5></span>
        </div>
    </div>
    <hr />
</div>

<button class="btn btn-warning ml-4" onclick="generatePDF()">Download PDF</button>

<script>
    function generatePDF() {
      const reportContent = document.getElementById("reportContent");

      // Set options for PDF generation
      const options = {
        filename: 'totaljobsreport.pdf',
        image: { type: 'jpeg', quality: 0.98 }, // Optional
        html2canvas: { scale: 2 }, // Optional
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' } // Optional
      };

      // Generate PDF from HTML content
       html2pdf()
      .set(options)
      .from(reportContent)
      .save();
    }
</script>

{% include 'courier/bottom_tabs.html' %}

{% endblock content %}