{% extends 'customer/base.html' %}

{% block main %}

{% url 'customer:current_jobs' as current_jobs_url %}
{% url 'customer:archived_jobs' as archived_jobs_url %}

<!-- TABS -->
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link {% if request.path == current_jobs_url %} active btn-info {% else %}text-dark {% endif %}"
            href="{% url 'customer:current_jobs' %}">Current Job</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == archived_jobs_url %} active btn-info {% else %}text-dark {% endif %}"
            href="{% url 'customer:archived_jobs' %}">Archived Jobs</a>
    </li>
</ul>

<!-- LIST OF JOBS -->
<div class="list-group mt-3">
    {% if jobs %}

    {% for job in jobs %}
    <a href="{% url 'customer:job' job.id %}" class="list-group-item list-group-item-action">
        <div class="media">
            <img src="{{ job.photo.url }}" class="rounded-lg mr-3" width="100" height="100" />
            <div class="media-body">
                <div class="row">
                    <div class="col-lg-9">
                        <h5 class="mb-1">{{ job.name }}</h5>
                        <p>{{ job.description }}</p>

                        <div class="d-flex mb-4">
                            <b>from:</b>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="ml-2">
                                <small>{{ job.pickup_address }}</small><br />
                                <div class="d-flex align-items-center">
                                    <h6 class="mr-2 mb-0">sender:</h6>
                                    <b>{{ job.pickup_name }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <b>to: </b>
                            <i class="fas fa-flag-checkered"></i>
                            <div class="ml-2">
                                <small>{{ job.delivery_address }}</small>
                                <div class="d-flex align-items-center">
                                    <h6 class="mr-2 mb-0">recepient:</h6>
                                    <b>{{ job.delivery_name }}</b>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right d-flex flex-column justify-content-between">
                        <div><span class="badge badge-warning mb-2">{{ job.get_status_display }}</span></div>
                        <h2 class="mb-1">${{ job.price }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

    <hr>
    <a class="btn btn-success ml-5"  href="{% url 'customer:pdf_template' %}" style="width: 120px;">Get Jobs PDF</a>

    {% else %}
    <div class="card">
        <div class="card-body text-center">
            Nothing to show here yet.
        </div>
    </div>
    {% endif %}
</div>
{% endblock main %}