{% extends 'customer/base.html' %}
{% load bootstrap4 %}
{% block main %}


<div class="card bg-white mt-2 mb-5" style="max-width: 350px; margin-left: auto; margin-right: auto;">
  <b class="text-secondary">Transact Payment</b><br />
  <div id="paypal-button-container"></div>  <!-- This line is correct and will display a PayPal button -->
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AViXy3AqztngAJ-O7ggs8DYMgvXwSvGWYCyVnPcdBt6L821iWKKlrLPZdLBDe1UyrAAlgeW_mvKZMTIB&currency=USD"></script>

<script>
  var total = '{{ customer.job.price }}'
  var courierPaypalEmail = '{{ courier.paypal_email }}'; // Update with the appropriate variable name from your context
  
  paypal.Buttons({

    // Set up transaction when payment button is clicked
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: total // can reference variable or functione.g, 'value: document.getElementById("amount").value'
          },
          payee: {
            email_address: courierPaypalEmail
          }
        }]
      });
    },

    // Finalize the transaction after payer has approved the payment

    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        // Successfull capture! For dev/demo purposes only
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        var transaction = orderData.purchase_units[0].payments.captures[0];
        // Show a success message to the buyer
        alert('Transaction completed by'  + details.payer.name.given_name + '!');
        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

        // Replace the above to show a success message within this page, e.g.

      });
    }
  }).render('#paypal-button-container');
</script> 
{% endblock main %}
