{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block head %}
{% comment %} {% include 'load_firebase.html' %} {% endcomment %}
{% endblock head %}

{% block main %}
<!-- Basic Information -->
<b class="text-secondary">Basic Information</b>
<div class="card bg-white mt-2 mb-5">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form customer_form %}
      <input type="hidden" name="action" value="update_profile" />
      <button type="submit" class="btn btn-info">Save</button>
    </form>
  </div>
</div>

<!-- Password -->
<b class="text-secondary">Change Password</b>
<div class="card bg-white mt-2 mb-5">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form password_form %}
      <input type="hidden" name="action" value="update_password" />
      <button type="submit" class="btn btn-info">Save</button>
    </form>
  </div>
</div>


{% comment %} <div class="card bg-white mt-2 mb-5">
  <div class="card-body">
    <div id="verify-code" class="input-group mb-3 d-none">
      <input type="text" class="form-control" placeholder="Verification code">
      <div class="input-group-append">
        <button class="btn btn-warning" type="button">Verify Code</button>
      </div>
    </div>
    <div id="change-phone" class="input-group mb-3 {% if not request.user.customer. %} d-none {% endif %}">
      <input type="text" class="form-control" disabled value="{{ request.user.customer.phone_number }}">
      <div class="input-group-append">
        <button class="btn btn-warning" type="button">Change</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% comment %} <script>
  window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
    'size': 'invisible'
  });

  function onVerify(idToken) {
    var form = document.createElement("form")
    form.method = "POST"

    var element1 = document.createElement("input")
    element1.name = "id_token"
    element1.value = idToken
    form.appendChild(element1)

    var element2 = document.createElement("input")
    element2.name = "action"
    element2.value = "update_phone"
    form.appendChild(element2)

    var element3 = document.createElement("input")
    element3.name = "csrfmiddlewaretoken"
    element3.value = "{{ csrf_token }}"
    form.appendChild(element3)

    document.body.appendChild(form)
    form.submit()
  }

  $("#get-code button").on('click', function () {
    const phoneNumber = $("#get-code input").val()
    console.log(phoneNumber)

    const appVerifier = window.recaptchaVerifier;
    firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
      .then((confirmationResult) => {
        console.log(confirmationResult)
        window.confirmationResult = confirmationResult;
        $("#get-code").addClass("d-none")
        $("#verify-code").removeClass("d-none")

      }).catch((error) => {
        toast(error.message, 'error')
      });

  })

  $("#verify-code button").on('click', function () {
    const code = $("#verify-code input").val()

    confirmationResult.confirm(code).then((result) => {
      const user = result.user;
      console.log(user.phoneNumber)

      user.getIdToken().then(function (idToken) {
        onVerify(idToken)
      })
    }).catch((error) => {
      // User couldn't sign in (bad verification code?)
      // ...
    });
  })

  $("#change-phone button").on('click', function () {
    $("#change-phone").addClass("d-none")
    $("#get-code").removeClass("d-none")
  })
</script> {% endcomment %}

{% endblock main %}